src/main/com/handu/scada/business/message/client/send/scdl_sms_send_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="scdl_sms_interface_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="scdl_sms_interface_ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="scdl_sms_interface_ws">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:element name="scdl_sms_send_ws1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="scdl_sms_send_ws1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scdl_sms_send_ws1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="scdl_sms_send_wsN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="scdl_sms_send_wsNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scdl_sms_send_wsNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="scdl_sms_send_ws_Single">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="scdl_sms_send_ws_SingleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scdl_sms_send_ws_SingleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="scdl_sms_send_ws1SoapIn">
    <wsdl:part name="parameters" element="tns:scdl_sms_send_ws1" />
  </wsdl:message>
  <wsdl:message name="scdl_sms_send_ws1SoapOut">
    <wsdl:part name="parameters" element="tns:scdl_sms_send_ws1Response" />
  </wsdl:message>
  <wsdl:message name="scdl_sms_send_wsNSoapIn">
    <wsdl:part name="parameters" element="tns:scdl_sms_send_wsN" />
  </wsdl:message>
  <wsdl:message name="scdl_sms_send_wsNSoapOut">
    <wsdl:part name="parameters" element="tns:scdl_sms_send_wsNResponse" />
  </wsdl:message>
  <wsdl:message name="scdl_sms_send_ws_SingleSoapIn">
    <wsdl:part name="parameters" element="tns:scdl_sms_send_ws_Single" />
  </wsdl:message>
  <wsdl:message name="scdl_sms_send_ws_SingleSoapOut">
    <wsdl:part name="parameters" element="tns:scdl_sms_send_ws_SingleResponse" />
  </wsdl:message>
  <wsdl:portType name="scdl_sms_send_wsSoap">
    <wsdl:operation name="scdl_sms_send_ws1">
      <wsdl:input message="tns:scdl_sms_send_ws1SoapIn" />
      <wsdl:output message="tns:scdl_sms_send_ws1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="scdl_sms_send_wsN">
      <wsdl:input message="tns:scdl_sms_send_wsNSoapIn" />
      <wsdl:output message="tns:scdl_sms_send_wsNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="scdl_sms_send_ws_Single">
      <wsdl:input message="tns:scdl_sms_send_ws_SingleSoapIn" />
      <wsdl:output message="tns:scdl_sms_send_ws_SingleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="scdl_sms_send_wsSoap" type="tns:scdl_sms_send_wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="scdl_sms_send_ws1">
      <soap:operation soapAction="scdl_sms_interface_ws/scdl_sms_send_ws1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scdl_sms_send_wsN">
      <soap:operation soapAction="scdl_sms_interface_ws/scdl_sms_send_wsN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scdl_sms_send_ws_Single">
      <soap:operation soapAction="scdl_sms_interface_ws/scdl_sms_send_ws_Single" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="scdl_sms_send_wsSoap12" type="tns:scdl_sms_send_wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="scdl_sms_send_ws1">
      <soap12:operation soapAction="scdl_sms_interface_ws/scdl_sms_send_ws1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scdl_sms_send_wsN">
      <soap12:operation soapAction="scdl_sms_interface_ws/scdl_sms_send_wsN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scdl_sms_send_ws_Single">
      <soap12:operation soapAction="scdl_sms_interface_ws/scdl_sms_send_ws_Single" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="scdl_sms_send_ws">
    <wsdl:port name="scdl_sms_send_wsSoap" binding="tns:scdl_sms_send_wsSoap">
      <soap:address location="http://10.176.3.194/scdl_sms_send_ws.asmx" />
    </wsdl:port>
    <wsdl:port name="scdl_sms_send_wsSoap12" binding="tns:scdl_sms_send_wsSoap12">
      <soap12:address location="http://10.176.3.194/scdl_sms_send_ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>