src/main/com/handu/scada/business/message/client/rpt/scdl_sms_rpt_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="scdl_sms_interface_ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="scdl_sms_interface_ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="scdl_sms_interface_ws">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:element name="Scdl_Sms_Rpt_Ws">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Scdl_Sms_Rpt_WsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Scdl_Sms_Rpt_WsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Scdl_Sms_Rpt_WsSoapIn">
    <wsdl:part name="parameters" element="tns:Scdl_Sms_Rpt_Ws" />
  </wsdl:message>
  <wsdl:message name="Scdl_Sms_Rpt_WsSoapOut">
    <wsdl:part name="parameters" element="tns:Scdl_Sms_Rpt_WsResponse" />
  </wsdl:message>
  <wsdl:portType name="scdl_sms_rpt_wsSoap">
    <wsdl:operation name="Scdl_Sms_Rpt_Ws">
      <wsdl:input message="tns:Scdl_Sms_Rpt_WsSoapIn" />
      <wsdl:output message="tns:Scdl_Sms_Rpt_WsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="scdl_sms_rpt_wsSoap" type="tns:scdl_sms_rpt_wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Scdl_Sms_Rpt_Ws">
      <soap:operation soapAction="scdl_sms_interface_ws/Scdl_Sms_Rpt_Ws" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="scdl_sms_rpt_wsSoap12" type="tns:scdl_sms_rpt_wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Scdl_Sms_Rpt_Ws">
      <soap12:operation soapAction="scdl_sms_interface_ws/Scdl_Sms_Rpt_Ws" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="scdl_sms_rpt_ws">
    <wsdl:port name="scdl_sms_rpt_wsSoap" binding="tns:scdl_sms_rpt_wsSoap">
      <soap:address location="http://10.176.3.194/scdl_sms_rpt_ws.asmx" />
    </wsdl:port>
    <wsdl:port name="scdl_sms_rpt_wsSoap12" binding="tns:scdl_sms_rpt_wsSoap12">
      <soap12:address location="http://10.176.3.194/scdl_sms_rpt_ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>